.navbar{
    background-color: white;
    height: 80px;
}

.navbar-brand{
    font-weight: 500;
    color: #009970;
    font-size: 26px;
    transition: 0.3s color;
}

.login-button{
    text-decoration: none;
    background-color: #009970;
    font-size: 14px;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
    transition: 0.3s;
}
.login-button:hover{
    background-color: #00b383;
}
.navbar-toggler{
    border: none;
    font-size: 1rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active{
    color: #000;
}
@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.hero-section{
    background: url(./tom-hermans.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
